In [ ]:
import pandas as pd
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

In [ ]:
reader = Reader()
ratings = pd.read_csv('C:\\Users\\Abduallah Hussien\\Desktop\\R&A project\\ratings_small.csv')
movie_md = pd.read_csv('C:\\Users\\Abduallah Hussien\\Desktop\\R&A project\\movies_metadata.csv')

ratings

C:\Users\Abduallah Hussien\AppData\Local\Temp\ipykernel_12104\3561397722.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_md = pd.read_csv('C:\\Users\\Abduallah Hussien\\Desktop\\R&A project\\movies_metadata.csv')

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [ ]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

In [ ]:
# Use the famous SVD algorithm
algo = SVD(random_state=42)

# Run 5-fold cross-validation and then print results
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8952  0.8963  0.8987  0.8984  0.8972  0.8972  0.0013
MAE (testset)     0.6932  0.6863  0.6913  0.6913  0.6890  0.6902  0.0024
Fit time          0.75    0.76    0.76    0.77    0.77    0.76    0.01
Test time         0.10    0.09    1.21    0.10    0.09    0.32    0.45

{'test_rmse': array([0.89524728, 0.89629605, 0.89867914, 0.89842188, 0.89722734]),
 'test_mae': array([0.69320094, 0.68630817, 0.69131468, 0.69128435, 0.68895407]),
 'fit_time': (0.7460041046142578,
  0.7560086250305176,
  0.7619612216949463,
  0.7729337215423584,
  0.7669527530670166),
 'test_time': (0.09873723983764648,
  0.09175753593444824,
  1.2089989185333252,
  0.09574246406555176,
  0.09274649620056152)}

In [ ]:
trainset = data.build_full_trainset()
algo.fit(trainset)

In [ ]:
ratings[ratings.movieId == 302]

       userId  movieId  rating  timestamp
13375      86      302     3.0  848161134
31298     224      302     4.0  828214012
54695     391      302     4.0  891533396
55143     396      302     4.0  834999154
73529     514      302     3.0  853893761
82993     564      302     4.0  974841654
91822     608      302     4.0  939461651

In [ ]:
algo.predict(1, 302)

Prediction(uid=1, iid=302, r_ui=None, est=2.715518876215276, details={'was_impossible': False})

In [ ]:
# movie dataframe with votes more than 20
movie_md = movie_md[movie_md['vote_count']>20][['id','title']]

# IDs of movies with count more than 20
movie_ids = [int(x) for x in movie_md['id'].values]

# Select ratings of movies with more than 20 counts
ratings = ratings[ratings['movieId'].isin(movie_ids)]

# Reset Index
ratings.reset_index(inplace=True, drop=True)

In [191]:
movie_md

           id                         title
0         862                     Toy Story
1        8844                       Jumanji
2       15602              Grumpier Old Men
3       31357             Waiting to Exhale
4       11862   Father of the Bride Part II
...       ...                           ...
45437  455661                In a Heartbeat
45441   14008                   Cadet Kelly
45443   49279  The Man with the Rubber Head
45450   49280              The One-Man Band
45460   30840                    Robin Hood

[15297 rows x 2 columns]

In [232]:
def get_recommendations(data, movie_md, user_id, top_n, algo):
    
    # creating an empty list to store the recommended product ids
    recommendations = []
    r = []
    # creating an user item interactions matrix 
    user_movie_interactions_matrix = data.pivot(index='userId', columns='movieId', values='rating')
    # extracting those movie ids which the user_id has not interacted yet
    non_interacted_movies = user_movie_interactions_matrix.loc[user_id][user_movie_interactions_matrix.loc[user_id].isnull()].index.tolist()
    
    # looping through each of the product ids which user_id has not interacted yet
    for item_id in non_interacted_movies:
        
        # predicting the ratings for those non interacted product ids by this user
        est = algo.predict(user_id, item_id).est
        
        # appending the predicted ratings
        movie_name = movie_md[movie_md['id']==str(item_id)]['title'].values[0]
        #print(movie_name)
        recommendations.append((movie_name, est))

    # sorting the predicted ratings in descending order
    recommendations.sort(key=lambda x: x[1], reverse=True)
    for i in recommendations[:top_n]:
        r.append(i[0])
    return r # returing top n highest predicted rating products for this user

In [233]:
get_recommendations(data=ratings,movie_md=movie_md, user_id=654, top_n=3, algo=algo)

['Nell', 'Madagascar', 'The Thomas Crown Affair']

In [155]:
import joblib

In [156]:
file = 'recommendation_model'
joblib.dump(algo,file)

['recommendation_model']

In [180]:
from streamlit_jupyter import StreamlitPatcher, tqdm

StreamlitPatcher().jupyter()  # register streamlit with jupyter-compatible wrappers

In [181]:
# # import module
# import streamlit as st
 
# # Title
# st.title("Hello")

# Hello

In [182]:
# # Create a simple button that does nothing
# st.button("Click me for no reason")

False